on init
    mkdir /bootloader
    mkdir /env

on boot
    exec /sbin/busybox sh /sbin/init_partition.sh

service init_module /sbin/busybox sh /sbin/init_module.sh
    user root
    group root
    oneshot
